#chart {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  max-width: 1000px;
  background: #fff;
}

@media all and (min-width: 1000px) {
  #chart {
    margin: 0px calc((100% - 1000px)/2);
  }
}