#legend {
  display: block;
  margin: 20px 0px 0px 40px;
  width: 150px;

  font-family: 'Roboto';
  font-weight: 400;
}

#legend .metric {
  width: 100%;
  color: #a9a9a9;
  font-size: 13px;
  margin: 5px 0px;
}

#legend .item {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 3px 0px;
  cursor: pointer;
}

#legend .item.active {
  opacity: 1;
}

#legend .item.inactive {
  opacity: 0.4;
}


#legend .item .icon {
  display: inline-block;
  float: left;
  width: 13px;
  height: 13px;
  pointer-events: none;
}

#legend .item .name {
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 5px;

  font-size: 15px;
  line-height: 14px;
  pointer-events: none;
}